.contactpage {
    width: 100%;
    padding: 4rem;
}
.contactdiv {
    width: 100%;
    min-height: 25rem;
    border-top: 3px solid #F4511E;
    padding: 0px 4rem;
}
.maincontact {
    width: 100%;
    min-height: 20rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contactlogo {
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactlogo>p {
    font-size: 50px;
    font-weight: 650;
    color: #F4511E;
}
.contactdetails {
    width: 30rem;
    height: 12rem;
}
.location {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.location>svg {
    margin-right: 1rem;
}
.mobile {
    width: 100%;
    height: 25%;
    display: flex;
}
.phone, .fax {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.phone>svg, .fax>svg {
    margin-right: 1rem;
}
.media {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #909090;
}
.media>svg {
    cursor: pointer;
}
.footercontact {
    width: 100%;
    min-height: 5rem;
    border-top: 2px solid #d7d7d7;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footermore {
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.footermore>span {
    cursor: pointer;
}
.footerrights {
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #858585;
}
@media(width < 991px) {
    .contactpage {
        padding: 4rem 1rem;
    }
    .contactdiv {
        padding: 0rem;
    }
    .maincontact {
        width: 100%;
        padding: 1rem 0rem;
    }
    .location {
        font-size: 14px;
    }
    .phone, .fax {
        font-size: 14px;
    }
    .media {
        font-size: 14px;
    }
    .footermore {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        font-size: 14px;
    }
    .footerrights {
        font-size: 14px;
        text-align: center;
    }
}